body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.inc-exp{
  display: flex;
  flex-direction: row;
  font-size:xx-small;
  align-items: center;
  background-color: white;
  width: 300px;
  
  
}
.inc,.exp{
  display: flex;
  flex: 1;
  font-size: small;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.inc{
  border-right: 1px solid rgb(194, 192, 192);
}
.vals{
  margin: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

/* .list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
} */
/* .delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

label {
  display: inline-block;
  margin: 10px 0;
}

.card{
  background-color: aqua;
} */


